.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemonListCard {
  display: grid;
}

.pokemonCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #FFF;
  transition: all .2s;
  overflow: hidden;  
}


.pokemonCard:hover{
  transform: scale(1.1);
  box-shadow:
  0px 0px 2.2px rgba(0, 0, 0, 0.021),
  1.1px 1.1px 5.3px rgba(0, 0, 0, 0.028),
  4px 4px 10px rgba(0, 0, 0, 0.033),
  10.5px 10.5px 17.9px rgba(0, 0, 0, 0.04),
  26.6px 26.6px 33.4px rgba(0, 0, 0, 0.053),
  100px 100px 80px rgba(0, 0, 0, 0.09)
;

}

.pokemonNumber {
  display: flex;
  width: 100%;
  justify-content: end;

  font-size: 1rem;
  font-weight: bold;
  color: #303030;
}

.contentCard {
  display: flex;
  justify-content: space-between;
}
.pokemonName {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.listNamePokemon li {
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
  list-style: none;
  filter: brightness(1.1);
  padding: .5rem;
  margin: .5rem .5rem .5rem 0rem;
  border-radius: 1rem;
}

img {
  max-width: 100%;
  height: 70px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;

}

.loadMoreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 1rem;
  background-color: #303030;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all .5s ease-in-out;
}

.loadMoreButton:hover {
  filter: brightness(1.1);
  transform: translateY(-.5rem);
  background-color: #6f38f6;
}

@media screen and (min-width: 380px) {
  .pokemonListCard {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemonListCard {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemonListCard {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .pagination {
    justify-content: end;
  }
  
  .loadMoreButton {
    width: 15rem;
    padding: .7rem;
  } 
}